.upload-success {
  text-align: center;
  padding: 5px;
  background-color: #befebe;
  color: #3abb3a;
  border-radius: 5px !important;
  .mat-icon,
  .material-icons {
    width: 30px !important;
    height: 30px !important;
    font-size: 30px !important;
  }
}
